* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(147, 167, 167);
	color: rgb(7, 4, 4);
	font-size: 16px;
}

button {
  border: rgb(116, 109, 109) 2px solid
}

.row {
  width: 95%;
}

#header-nav {
  background-color: #566a6e;
  border-radius: 0;
  border: 0;
}

#header-nav button {
  margin-top: 22px;
  background-color: #3f5d63;
}

.navbar-toggle:hover {
  background-color: #fce29e;
}

.navbar-collapse {
  border-top: 0;
}

.navbar-brand, .navbar-nav li a {
  line-height: 76px;
  height: 76px;
  padding-top: 0;
}

.navbar-brand h1 {
  color: #7d1913;
  font-family: 'Abril Fatface', cursive;
  font-weight: bolder;
  font-size: 1.8em;
}

.navbar-brand a:hover {
  text-decoration: none;
  text-shadow: 1px 1px 1px #c21212;
}

#nav-list a {
  font-weight: bolder;
  color: #080808;
  font-size: 1.2em;
}

div a:hover {
  text-decoration: #fffdfd;
  background-color: #be1212;;
}

.navbar-header button.navbar-toggle {
  border: 1px solid #7d1913;
}

#main-content {
  width: 92%;
  margin-bottom: 30px;
}

#main-content h2 {
  font-size: 2.9em;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 50px;
}

#main-content h3 {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 1em;
}

div.navbar-nav {
  background-color: #60867b;
}

div > a {
  border: rgb(160, 151, 151) 1px solid
}


#chick, #beef, #sushi {
  width: 100%;
  padding: 20px;
  background-color: #bef0bd;
  margin-bottom: 60px;
  box-shadow: 0 0 80px #3f553b;
}